body {
    margin: 20px;
    font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
    background: url("images/background.jpg") 25%;
}

h1{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}   

h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700; 
    line-height: 50%;
}

p{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 50%;  
}

.avatar {
    width: 150px;
    box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.2)
}

.card {
    width: 400px;
    margin: 24 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #FAF3DD;
    color: #2b2839;
    border: 2px double #B8F2E6; 
    border-radius: 8px;
}

.card:hover{
    box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.2)
}

.border-blue {
    border: 1px dotted blue;
}

.left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.spotify{
    margin: auto; 
    display: flex;
    justify-content: space-around; 
    bottom: 0;
}
